<header>
  <h1>User Administration for Stock Provider</h1>
  <p>Add Roles to registered users!</p>
</header>

<div class="container admin">

  <h2>current list of users</h2>

<table>

    {{#each users}}
      <tr>
      <td> {{this.name}} / {{this.role}} </td>

<td>
      <form action="/savechanges/{{this._id}}" method="POST" class="login">
      
        <select name="role">
          <option value="registered">registered</option>
          <option value="authorized">authorized</option>
          <option value="administrator">administrator</option>
        </select>
      <button type="submit">save changes</button>
    </form>
</td>
    </tr>
    {{/each}}

</table>

  <form class="logout container">
    <label id="whoami">username</label>
    <a href="/logout">Logout!</a>
  </form>
  <div class="container search-anyway">
    <a href="/search"><button>Search</button></a>
  </div>