body {
  padding: 20px;
  font: 14px  'Righteous', Arial, sans-serif;
  font-weight: 400;
  background: #000 url("/images/auwaldsee2.jpg") no-repeat top;
  background-size: cover; }

h1 {
  color: white;
  font-size: 25px;
  margin: 8px; }

a {
  color: #fff; }

th {
  border-bottom: 1px solid white;
  font-weight: 400;
  text-transform: uppercase; }

td {
  vertical-align: bottom; }

select {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3); }

select option {
  color: darkslategrey;
  font-family: 'Righteous';
  font-weight: normal;
  font-size: 0.7rem; }

textarea {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 3px;
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  font-family: 'Righteous';
  font-weight: normal;
  font-size: 0.7rem; }

.catch-phrase {
  color: white; }

.container {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.3);
  padding: 0.5em;
  border-radius: 0.5rem; }

.login {
  display: inline-block; }

.input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }

.single-input input {
  width: 150px;
  border-radius: 3px;
  margin: 1px; }

.admin {
  border-spacing: 15px;
  text-align: left; }

.icon-top {
  display: inline-block;
  position: fixed;
  top: 8px;
  right: 150px;
  font-weight: bold; }

.labels {
  font-weight: bold; }

.single-item {
  display: flex;
  flex-direction: column;
  margin: 0.5em; }

.break {
  flex-wrap: wrap;
  flex-basis: 100vw; }

.results {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  margin: 0.5rem 0 0 0; }

.results span {
  padding: 8px 4px;
  border: 0.5px solid #fff; }

.disabled {
  visibility: hidden; }

.enabled {
  visibility: visible; }

#app-bar {
  background-color: black;
  width: 100vw;
  height: 50px;
  position: fixed;
  top: 0px;
  left: 0px; }

.icon-bar {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  top: 0px;
  right: 0px;
  height: 50px;
  width: 50vw;
  border: none;
  color: white; }

.icon {
  padding: 0 10px 0 10px;
  text-align: center; }

.whoami img {
  height: 20px;
  position: relative;
  top: 2px; }

.keep-clear {
  height: 50px; }

.button-sign {
  background: linear-gradient(mediumpurple, rebeccapurple);
  color: white;
  font-weight: bold;
  width: 100%;
  height: 25px;
  border-radius: 3px;
  margin-top: 2px; }

.button-edit {
  background-color: transparent;
  border: none;
  cursor: pointer; }

.button-edit img {
  height: 20px; }

.linkList {
  background-color: white;
  border: 1px solid black; }

.messages {
  position: fixed;
  top: 51px;
  right: 0px; }

.button-search {
  background: linear-gradient(mediumpurple, rebeccapurple);
  color: white;
  font-weight: bold;
  width: calc(100vw - 80px - 1em);
  border-radius: 3px;
  height: 25px; }

.page-wrapper {
  grid-column: 1 / 8;
  display: flex;
  justify-content: center;
  margin-top: 10px; }

#page {
  cursor: pointer;
  background: white;
  padding: 3px;
  margin: 3px;
  text-align: center; }

#limits {
  padding: 5px; }

#limits input {
  width: 50px; }

#current-page {
  color: red;
  font-weight: bold; }

/*# sourceMappingURL=style.css.map */